<nav class="navbar navbar-expand-md static-top navbar-dark bg-dark">
  <div class="container">
    <div>
      <a class="navbar-brand" href="/src/index.html" title="Home"><img src="../assets/images/navbar-image.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="navbarItems">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/home">Inicio</a>
        </li>          
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/search">Buscar&nbsp;&nbsp;<i class="fa fa-search fa-flip-horizontal" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
    <div>

      <ul class="navbar-nav">
          
          <li *ngIf="!sesionIniciada" class="nav-item" >
              <a class="nav-link" (click)="onClickLogIn()">Iniciar sesión</a>
            </li>
            
            <li *ngIf="sesionIniciada" class="nav-item">
              <a class="nav-link" routerLink="/home" (click)="onClickLogOut()">Cerrar sesión</a>
            </li>

        </ul>

    </div>
  </div>
</nav>