<nav class="navbar navbar-expand-md static-top navbar-dark bg-dark">
  <div class="container">
    <div>
      <a class="nav-link" routerLink="/home"><img src="../assets/images/navbar-image.png" width="45" height="40"></a>
    </div>
    <div class="collapse navbar-collapse" id="navbarItems">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/home">Inicio</a>
        </li>          
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/search">Buscar&nbsp;&nbsp;<i class="fa fa-search fa-flip-horizontal" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
    <div>
      <ul class="navbar-nav">
          <li *ngIf="!sesionIniciada" class="nav-item" >
              <button [ngClass]="buttonClass" class="btn btn-primary mb-3" (click)="onClickLogIn()">
                  Iniciar sesión
              </button>
            </li>
            <li *ngIf="sesionIniciada" class="nav-item">
              <button [ngClass]="buttonClass" class="btn btn-primary " (click)="onClickLogOut()">
                  Cerrar sesión
              </button>
            </li>
        </ul>
    </div>
  </div>
</nav>